html, body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: #efefef;
  background-color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 2rem;
}

.Page {
  width: 100%;
  max-width: 850px;
}
